@page {
   size: A4;
   margin-top:70px;
   margin-left:0px;
}
@MEDIA print {
	
	.smarttab30{
	margin:0px;
	},
	#layout{
	color:'red'
	}
	#top_part{
	display:none;
	}
	.logo{
	display:none;
	}
	.top_tab_box{
	display:none;
	}
	.sub_box1{
	display:none;
	}
	.button{
	display:none;
	}
	.box3_sub{
	display:none;
	}
	.box3{
	border:0;
	}
	.box3{
	padding:0;
	}
	.sub_box3{
	display:none;
	}
	.select_box{
	display:none;
	}
	.input_box{	
	border:1px	solid black;
	width:315.15px;
	//height:62px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 151px;
    margin-right: 36.27px
	}
	.input_box input{	
		padding:2px 0px;
	}
	.single_line .input_box input{ padding:3px 3px;}
	 
	.wapper{
	border:0;
	margin-top: 0px;
	}
	#dateDiv{
	display:none;
	}
}