<head>

<style type="text/css">
div#roweditable
{
	border:2px solid;
	border-radius:25px;
    height: 48px;
    overflow: hidden;
    padding: 10px;
    width: 260px; 
} 
</style>
</head>
<h1>smart tab 60</h1>
<table>
<tr>
<td><div id="roweditable" contenteditable="true">[title]</div></td>
<td><div id="roweditable" contenteditable="true">sd</div></td>
<td><div id="roweditable" contenteditable="true">dsdsd</div></td>
</tr>
<tr>
<td><div id="roweditable" contenteditable="true" >sddfdfdfdfdfdf</div></td>
<td><div id="roweditable" contenteditable="true">sd</div></td>
<td><div id="roweditable" contenteditable="true">dsdsd</div></td>
</tr>
</table>