<div id="root" class="smarttab30">               
                <div class="input_box">
                    <input id="text_a" class="unicode"  type="text"/>
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                        <input type="text" id="text_c" style="text-align:right"/>                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" class="unicode   type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" class="unicode  " type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="ttext_a" class="unicode" class="unicode   type="text"/>
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                        <input type="text" id="text_c" style="text-align:right"/>                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text"/>
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                        <input type="text" id="text_c" style="text-align:right"/>                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text"/>
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                        <input type="text" id="text_c" style="text-align:right"/>                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input id="text_a" class="unicode" type="text" />
                    <div class="sub_input_box">
                        <input id="text_b" type="text"  class="boreder_line"/>
                       <input type="text" id="text_c" style="text-align:right"/>
                        <div class="clear"></div>
                    </div>
                </div>             
                </div>
                