<div id="root" class="smarttab60">
            	<div class="input_box">
                    <input id="text_a" type="text" />
                    <input id="text_b" class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input id="text_a" type="text" />
                    <input id="text_b" class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input id="text_a" type="text" />
                    <input id="text_b" class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input id="text_a" type="text" />
                    <input id="text_b" class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input id="text_a" type="text" />
                    <input id="text_b" class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input id="text_a" type="text" />
                    <input id="text_b" class="sub_input_box" type="text" />
                </div>
                </div>