<div id="root" class="smarttab60">
            	<div class="input_box">
                    <input type="text" />
                    <input class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input type="text" />
                    <input class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input type="text" />
                    <input class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input type="text" />
                    <input class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input type="text" />
                    <input class="sub_input_box" type="text" />
                </div>
                <div class="input_box">
                    <input type="text" />
                    <input class="sub_input_box" type="text" />
                </div>
                </div>