<div  id="root" class="smarttab30">               
                <div class="input_box">
                    <input type="text"/>
                    <div class="sub_input_box">
                        <input type="text" / class="boreder_line">
                        <input type="text" id="txt"/>                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input type="text" />
                    <div class="sub_input_box">
                        <input type="text" / class="boreder_line">
                        <input type="text" />
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="input_box">
                    <input type="text" />
                    <div class="sub_input_box">
                        <input type="text" / class="boreder_line">
                        <input type="text" />
                        <div class="clear"></div>
                    </div>
                </div>                
                </div>